.form-input{
   text-align: center;
   margin-left: 35%;
   margin-right: 35%;
   border-radius: 15px;
   background-color: rgb(243, 247, 247) ;
}

.label{
display: block;
font-size: larger;
color: rgb(75, 72, 72);
padding: 5px;
border-radius: 15px 15px 0 0;
}

.input{
font-size: 16PX;
padding: 5px;
margin: 2px;

}
.btn{
color: rgb(70, 66, 66);
background-color: rgb(243, 234, 234);
border-radius: 15px;
font-size: larger;
display: block;
padding: 5px;
margin: 10px auto;
}

.messages{
display: flex;
justify-content: center;
}

.error{
display: block;
background-color: red;
color: rgb(85, 83, 83);
width: fit-content;
height: 50px;
padding: 5px;
}

.success{
display: block;
background-color: lightblue;
color: black;
width: fit-content;
height: 50px;
padding: 5px;
}
