.form-input{
    position: relative;
    padding: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 15px;
    background-color: rgb(243, 247, 247) ;
    border-style: solid;
    border-width: 1px;
 }
 
 .label{
 display: block;
 font-size: larger;
 color: rgb(75, 72, 72);
 padding: 5px;
 border-radius: 15px 15px 0 0;
 }
 
 .input{
 width: 60%;   
 margin-bottom: 30px;   
 border-radius: 50px;   
 font-size: 90%;
 padding: 5px;
 
 }
 .btn{
 width: fit-content;
 padding: 5px;
 height: auto;
 background-color: white;
 cursor: pointer;
 border-radius: 50px;
 border-width: 2px;
 border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
 color: rgb(70, 66, 66);
 font-size: 90%;
 display: block;
 margin: auto;
 }
 
 .btn:hover{
    background-color: rgb(235, 234, 234);
 }
 
 .messages{
 display: flex;
 justify-content: center;
 }
 
 .error{
 display: block;
 background-color: rgb(251, 165, 165);
 color: rgb(85, 83, 83);
 width: fit-content;
 height: 50px;
 padding: 5px;
 }
 
 .success{
 display: block;
 background-color: lightblue;
 color: black;
 width: fit-content;
 height: 50px;
 padding: 5px;
 }
 
 
 .form-input2{
    width: 55%;
    position: relative;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: rgb(243, 247, 247) ;
    border-style: solid;
    border-width: 1px;
 }
 
 .head{
    
    margin-bottom:"30px";
    font-size: x-large;
 }
 
 .input2{
    margin-bottom: 13px;
    width: 100%;
    height: 65px;
    margin-top: 7px;
    
 }
 
 .input3{
    margin-top: 56px;
    width: 100%;
    height: 85px;
 }
 
 .input_{
    height: 30px;
    position: absolute;
    width: 70%;
    border-radius: 50px;   
    font-size: 90%;
    padding: 5px;
    }
 
    .btn_{
    width: fit-content;
    padding: 5px;
    height: auto;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    color: rgb(70, 66, 66);
    font-size: 90%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    